 h1 {
     font-size: 100px;
     color: rgb(255, 230, 0);
     background-color: rgb(245, 128, 163);
 }

 .intro {
     font-size: 70px;
     font-weight: 800;
     color: rgb(29, 223, 223);
     background-color: rgb(221, 79, 108);
 }
 #detail {
     font-size: 70px;
     font-weight: 800;
     color: rgb(9, 233, 233);
     background-color: rgb(177, 74, 177);
 }